:host {
  position: relative;
}

.popup {
  position: absolute;
  background: #ddd;
  top: 100%;
  left: 0;
  padding: 10px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month {
  margin: 10px;
  text-align: center;
}

.cell {
  padding: 4px;
  text-align: center;
  display: grid;
}
